<div class="w-full p-4">
  @for (comment of comments; track $index) {
    <div class="flex flex-row w-full p-4">
      <div class="flex flex-col">
<tui-avatar
    [src]="getFirstChar(comment.name)"
    class="text-blue-600"
    size="l"
    [style.background]=" getFirstChar(comment.name) | tuiAutoColor"
/>
      </div>


<div class="flex flex-col ms-3">
  <p class="font-bold text-base">{{comment.name}} <span class="font-normal italic">({{ comment.email }})</span></p>
  <span class="text-sm">{{comment.body}}</span>
</div>
</div>
  }

  	<button
    appearance="secondary"
    size="m"
    tuiButton
    type="button"
    (click)="showDialogComment(false)"
>
    <tui-icon icon="@tui.plus" [style.height.rem]="1" />
    Novo Post
</button>
</div>
