<div class="grid grid-cols-3 gap-4 p-2">
<div class="col-span-2 p-4">
  <div class="flex flex-row w-full justify-between content-center">
    <div class="text-bold text-lg">Posts</div>

	<button
    appearance="secondary"
    size="m"
    tuiButton
    type="button"
    (click)="showDialogPost(false)"
>
    <tui-icon icon="@tui.plus" [style.height.rem]="1" />
    Novo Post
</button>
  </div>
  <table
    tuiTable
    class="table"
    [columns]="displayedColumns"
>
    <thead>
        <tr tuiThGroup>
            <th tuiTh [resizable]="true"> N. </th>
            <th tuiTh>Título</th>
            <th tuiTh>Mensagem</th>
            <th tuiTh></th>
        </tr>
    </thead>
    <tbody
        tuiTbody
        [data]="posts"
    >
    @for(post of paginatedData(); track $index) {
      <tr tuiTr (click)="onSelectPost(post)" class="cursor-pointer">
            <td *tuiCell="'number'" tuiTd>
              <span
        [tuiSkeleton]="
            isLoadingResults ? 'This text': '' ">
        {{ isLoadingResults ? '' : $index + 1 }}
    </span>
  </td>
            <td *tuiCell="'title'" tuiTd>
              <span
        [tuiSkeleton]="
            isLoadingResults ? 'This text serves as the content behind the skeleton and depending on its length, the skeleton will adjust to fit it.': '' ">
        {{ isLoadingResults ? '' : post.title}}
    </span>  </td>
            <td *tuiCell="'body'" tuiTd>
<span
        [tuiSkeleton]="
            isLoadingResults ? 'This text serves as the content behind the skeleton and depending on its length, the skeleton will adjust to fit it.': '' ">
        {{ isLoadingResults ? '' :  post.body}}
    </span> </td>
            <td *tuiCell="'actions'" tuiTd>
              <div class="flex flex-row">
              <span
        [tuiSkeleton]="isLoadingResults ? 'This text serves': '' ">
        @if(!isLoadingResults) {
<button
    appearance="flat"
    iconStart="@tui.pencil"
    size="m"
    tuiIconButton
    type="button"
    [style.border-radius.%]="100"
    (click)="showDialogPost(true, post)"
>
    Editar
</button>
	<button
    appearance="flat-destructive"
    iconStart="@tui.trash"
    size="m"
    tuiIconButton
    type="button"
    [style.border-radius.%]="100"
    (click)="deletePost(post.id!)"
> Deletar
</button>
        }</span>

              </div>
            </td>
        </tr>
    }

    </tbody>
</table>
<div>
<tui-table-pagination
    [items]="pageSizeOptions"
    [size]="pageSize"
    [total]="resultsLength"
    [page]="pageIndex"
    (paginationChange)="onPageChange($event)"
/>

</div>


</div>
<div>
  COMENTARIO
  <app-comments [post]="selectedPost"></app-comments>
</div>
</div>
