	@import '@taiga-ui/core/styles/taiga-ui-local.less';
.table {
    inline-size: 100% !important;
}

.text-ellipsis {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

 [tuiTh],
[tuiTd] {
  font-size: 18px;
  border-inline-start: none;
  border-inline-end: none;
}

