<div class="gap-4 p-2 item">
  <div class="p-4">
    <div class="flex flex-row w-full justify-between content-center my-4">
      <div class="text-bold text-lg">Posts</div>

      <button
        appearance="secondary"
        size="s"
        tuiButton
        type="button"
        (click)="showDialogPost(false)"
      >
        <tui-icon icon="@tui.plus" [style.height.rem]="1" />
        Novo Post
      </button>
    </div>

    <div class="flex w-full" *ngIf="breakpoint$ | async as breakpoint">
      @if(breakpoint === 'desktopSmall' || breakpoint === 'desktopLarge' ) {
    <app-post-table
      class="w-full"
      [posts]="posts"
      [paginatedPosts]="paginatedData()"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [resultsLength]="resultsLength"
      [isLoadingResults]="isLoadingResults"
      (pageChange)="onPageChange($event)"
      (onViewPost)="onSelectPost($event)"
      (onEditPost)="showDialogPost(true, $event)"
      (onDeletePost)="deletePost($event)"
    ></app-post-table>
    } @else if (breakpoint === 'mobile') {
    <div class=" flex flex-col w-full">
     @for(post of paginatedData(); track $index) {
      <app-post-item
        class="w-full"
        [post]="post"
        (onViewPost)="onSelectPost($event)"
        (onEditPost)="showDialogPost(true, $event)"
        (onDeletePost)="deletePost($event)"
        >
    </app-post-item>
      }
    <tui-pagination
        size="m"
        [index]="pageIndex"
        [length]="resultsLength"
        (indexChange)="goToPage($event)"
    />
    </div>
    }
  </div>
  <div>

  </div>

  <div>
  </div>



  <tui-drawer *tuiPopup="openDrawer()">
    <header>
      <h2 tuiHeader>
        <div tuiTitle class="flex flex-col">
          <span tuiCaption> Post {{selectedPost.id}}</span>
          <span>
                    {{selectedPost.title}}
                </span>
          <span tuiSubtitle>
                    {{selectedPost.body}}
                </span>
        </div>

        <div tuiAccessories>
          <button
            appearance="icon"
            iconStart="@tui.x"
            tuiIconButton
            type="button"
            (click)="openDrawer.set(false)"
          >
            Close
          </button>
        </div>
      </h2>
    </header>
    <footer>
      <button
        appearance="grayscale"
        size="s"
        tuiButton
        type="button"
        [style.margin-inline-end]="'auto'"
        (click)="onAddComment()"
      >
        <tui-icon icon="@tui.plus" [style.height.rem]="1" />
        Adicionar Comentario
      </button>
    </footer>
    <app-comments [post]="selectedPost" [addComment]="addComment"></app-comments>

  </tui-drawer>

