<div class="flex flex-column gap-4">
  <form  [formGroup]="formPost" class="w-full">
    <label tuiLabel class="w-full mt-4">
      Título
      <tui-textfield>
        <input
          placeholder="Insira o título"
          tuiTextfield
          formControlName="title"
        />
      </tui-textfield>
    </label>

    <label tuiLabel class="w-full mt-4">
      Mensagem
      <tui-textfield tuiTextfieldSi ze="m" >
        <textarea
          placeholder="Insira a mensagem"
          formControlName="body"
          tuiTextarea
          [limit]="200"
          [max]="6"
          [min]="3"
        ></textarea>
      </tui-textfield>
    </label>

    <button
      appearance="accent"
      size="m"
      tuiButton
      type="button"
      class="w-full mt-4"
      [disabled]="formPost.invalid"
      (click)="onSaveForm()"
    >
      <tui-icon icon="@tui.save" [style.height.rem]="1" />
      Salvar
    </button>
  </form>
</div>
