/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/public/fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body { height: 100%; }
body {
    margin: 0;
   font-family: "Montserrat Alternates", sans-serif;
   font-size: 16px;
  }
