/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '@taiga-ui/core/styles/taiga-ui-local.scss';
html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif !important;
  font-size: 18px;
}
